################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestDriver/.vs/TestDriver/v16/Browse.VC.opendb
