################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/DivideTestDll/.vs/DivideTestDll/v16
/TestClient/.vs/TestClient/v16

